@using AwardProjectEntity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<AwardProjectEntity.UserAward>

@{
    ViewData["Title"] = "Kullanıcı Başarım Listesi";
}

<h2>Kullanıcı Başarım Listesi</h2>

<div class="button-container">
    <a role="button" aria-disabled="true" class="btn btn-primary" href="@Url.Action("Add", "UserAward")">Ekle</a>
</div>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Ad Soyad</th>
        <th scope="col">Başarım</th>
        <th scope="col">İşlemler</th>
    </tr>
    </thead>
    <tbody>
    @{
        int counter = 0;
        foreach (UserAward userAward in Model)
        {
            counter++;

            <tr>
                <th scope="row">@counter</th>
                <td>@userAward.User.NameSurname</td>
                <td>
                    <div class="icon-circle" style="border-color:@(userAward.Award.BorderColor)">
                        <i class="@userAward.Award.FontClass" style="color:@(userAward.Award.FontColor)"></i>
                    </div>
                    <div class="icon-circle-name">
                            <i class="icon-name">@userAward.Award.Name</i>
                    </div>
                </td>
                <td>
                    <div class="melisa">
                        <a class="btn btn btn-outline-success" href="@Url.Action("Edit", "UserAward", new { id = userAward.Id })" role="button" aria-disabled="true">
                            Güncelle
                        </a>
                            <a class="btn btn-outline-danger" href="@Url.Action("Delete", "UserAward", new { id = userAward.Id })" role="button" aria-disabled="true">
                            Sil
                        </a>
                    </div>
                    
                </td>
            </tr>
        }
    }
    </tbody>
</table>

@section styles {
    <link rel="stylesheet" href="~/css/list-style.css" asp-append-version="true" />
}